version: 2.1

jobs:
  build:
    docker:
      - image: cimg/base:stable
      - image: cimg/postgres:16.0
      - image: cimg/redis:6.2.12
      - image: circleci/dynamodb
      
    steps:
      - run: echo "hollla!"
      - run: sleep 10
