version: 2.1

jobs:
  build:
    docker:
      - image: cimg/base:stable
    steps:
     - run:
          name: "Shallow checkout code"
          command: git clone --depth 5 "$CIRCLE_REPOSITORY_URL" --branch "$CIRCLE_BRANCH"
      - run: echo "hollla!"
