version: 2.1

jobs:
  build:
    machine: true
    environment:
      GIT_TRACE_PACKET: 1
      GIT_TRACE: 1
      GIT_CURL_VERBOSE: 1
    steps:
      - checkout
      - run: free -h
      - run: sleep 10
      - run: echo "hollla!"
